.content_title{
    font-weight: bold;
    font-size: 20px;
}

.content{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 15px;
}

.content_logo{
    width: 17px;
    margin-right: 10px;
}

.content_detail{
    margin-top: 60px;
}
