
.content_title1{
    margin-top: 0px;
    font-weight: bold;
}

.content_title2{
    font-weight: bold;
}

.content_title1, .content_title2{
    font-size: 20px;
}

.content{
    font-family: Lato;
    font-size: 15px;
    margin-bottom: 75px;
}

.content_logo{
    width: 17px;
    margin-right: 10px;
}

.content_detail{
    margin-top: 50px;
}

@media screen and (min-width: 1000px) and (max-width: 1299px){
    .content_title1{
        margin-top: 90px;
        font-weight: bold;
        font-size: 20px;
    }

    .content_title2{
        font-weight: bold;
        font-size: 20px;
    }

    .content{
        font-family: Lato;
        font-size: 15px;
    }

    .content_logo{
        width: 17px;
        margin-right: 10px;
    }

    .content_detail{
        margin-top: 60px;
    }
}

@media screen and (max-width: 1000px){
    .content_title1{
        margin-top: 0px;
        font-weight: bold;
        font-size: 19px;
    }

    .content_title2{
        font-weight: bold;
        font-size: 19px;
    }

    .content{
        font-family: Lato;
        font-size: 15px;
        margin-bottom: 50px;
    }

    .content_logo{
        width: 17px;
        margin-right: 10px;
    }

    .content_detail{
        margin-top: 40px;
    }
}

@media screen and (max-width: 900px){
    .content_title1{
        margin-top: 0px;
        font-weight: bold;
        font-size: 19px;
    }

    .content_title2{
        font-weight: bold;
        font-size: 19px;
    }

    .content{
        font-family: Lato;
        font-size: 15px;
        margin-bottom: 50px;
    }

    .content_logo{
        width: 17px;
        margin-right: 10px;
    }

    .content_detail{
        margin-top: 40px;
    }
}

@media screen and (max-width: 400px){
    .content_title1{
        text-align: center;
        font-weight: bold;
        font-size: 15px;
    }

    .content_title2{
        font-weight: bold;
        font-size: 15px;
    }

    .content{
        font-family: Lato;
        font-size: 12px;
        margin-bottom: 50px;
        margin-top: -150px !important;
    }

    .content_logo{
        width: 17px;
        margin-right: 10px;
    }

    .content_detail{
        margin-top: 40px;
    }
}
