#suva_logo{
    margin-top: 65px;
    max-width: 200px;
    width: 100%;
    margin-bottom: 10px;
}

#made_by_us{
    max-width: 180px;
    width: 100%;
    margin-bottom: 10px;
}

#buy_now{
  max-width: 70px;
  width: 100%;
  margin-bottom: 150px;
}

#buy_now:hover{
    cursor: pointer;
}

#search_box{
    margin-top: 30px;
    margin-left: 40px;
}

#search_text{
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 120px;
    height: 30px;
    padding-left: 15px;
    font-size: 12px;
}

#search_icon{
    height: 30px;
    margin-left: -10px;
    margin-top: 2px;
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
    background: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#menu{
    z-index: 100;
	height: 35px;
	width: 35px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: #e61c24;
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 50px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#menu.show{
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#menu.show span{
    background: #e61c24;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#menu span{
	margin: -2px;
	border: none;
	height: 3px;
	background: #fff;
	margin-bottom: 5px;
	display: block;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 25px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#menu span:nth-child(1){
	margin-top: 10px;
}

#menu_bg{
    margin-left: -295px;
    width: 210px;
    height: 530px;
    background: #000;
    opacity: .4;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#menu_bg.show{
    margin-left: -15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#menu_{
    margin: 0;
    z-index: 100;
    display: table-cell;
    position: absolute;
    padding: 0;
    margin-top: 85px;
    margin-left: 0px;
}

.menu_logo{
  max-width: 18px;
  margin-right: 10px;
  margin-top:-5px;
}

#menu_ ul{
    margin-left: -305px;
    margin-top: 25px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#menu_.show ul{
    margin-left: 5px;
    margin-top: 25px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#menu_ ul li{
  margin-bottom: 20px;
}

.list_menu.active{
  color: #e61c24;
}

.list_menu{
  color: #fefefe;
  font-size: 12px;
}

.list_menu:hover{
    color: #e61c24;
    cursor: pointer;
}


.content_title1{
    margin-top: -80px;
    font-weight: bold;
    font-size: 20px;
}

.content_title2{
    font-weight: bold;
    font-size: 20px;
}

.content{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 15px;
}

.content_logo{
    width: 17px;
    margin-right: 10px;
}

.content_detail{
    margin-top: 60px;
}

.special_offer{
    margin-top: 100px;
    display: block;
    width: 1024px;
    height: 235px;
    background-image: url("../image/special_offer/special_offer.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.special_offer p{
    font-family: Verdana, Geneva, sans-serif;
    color: #fff;
}

.special_offer_title{
    font-size: 15px;
    padding-top: 40px;
}

.special_offer_text{
    font-size: 10px;
    padding-top: 15px;
    margin-left: 115px;
    margin-right: 115px;
    padding-bottom: 25px;
}

.special_offer_email{
    margin-top: -5px;
}

#email_text{
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 150px;
    height: 20px;
    padding-left: 15px;
    font-size: 12px;
    color: #000;
}

#email_icon{
    height: 20px;
    margin-left: -10px;
    -moz-margin-top: -2px;
    margin-top: 0px;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 4px;
    padding-right: 10px;
    background: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#copy_rights{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-left: 80px;
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 12px;
}

.footer_icon{
    margin-top: 35px;
    margin-right: 10px;
    height: 16px;
    cursor: pointer;
}

#for_left{
    margin-left: 190px;
}


@media screen and (min-width: 1300px){
    #suva_logo{
        margin-top: 100px;
        max-width: 300px;
        width: 100%;
        margin-bottom: 15px;
    }

    #made_by_us{
        max-width: 270px;
        width: 100%;
        margin-bottom: 15px;
    }

    #buy_now{
      max-width: 90px;
      width: 100%;
      margin-bottom: 550px;
    }

    #buy_now:hover{
        cursor: pointer;
    }

    #search_box{
        margin-top: 40px;
        margin-left: 85px;
    }

    #search_text{
        border: none;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        width: 150px;
        height: 30px;
        padding-left: 15px;
        font-size: 12px;
    }

    #search_icon{
        height: 30px;
        margin-left: -10px;
        margin-top: 2px;
        padding-top: 4px;
        padding-left: 4px;
        padding-bottom: 4px;
        padding-right: 10px;
        background: #fff;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    #menu{
      z-index: 100;
    	height: 40px;
    	width: 40px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        background: #e61c24;
    	cursor: pointer;
    	position: absolute;
    	top: 40px;
    	left: 50px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #menu.show{
        background: #fff;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #menu.show span{
        background: #e61c24;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #menu span{
    	margin: -2px;
    	border: none;
    	height: 3px;
    	background: #fff;
    	margin-bottom: 5px;
    	display: block;
    	margin-left: 10px;
    	margin-right: 10px;
    	border-radius: 25px;
    	-webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    #menu span:nth-child(1){
    	margin-top: 12px;
    }

    #menu_bg{
        margin-left: -295px;
        width: 280px;
        height: 705px;
        background: #000;
        opacity: .4;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #menu_bg.show{
        margin-left: -15px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #menu_{
        margin: 0;
        z-index: 100;
        display: table-cell;
        position: absolute;
        padding: 0;
        margin-top: 115px;
        margin-left: 0px;
    }

    .menu_logo{
      max-width: 26px;
      margin-right: 20px;
      margin-top:-5px;
    }

    #menu_ ul{
        margin-left: -305px;
        margin-top: 25px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #menu_.show ul{
        margin-left: 5px;
        margin-top: 25px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #menu_ ul li{
      margin-bottom: 28px;
    }

    .list_menu.active{
      color: #e61c24;
    }

    .list_menu{
      color: #fefefe;
      font-size: 17px;
    }

    .list_menu:hover{
        color: #e61c24;
        cursor: pointer;
    }

    .content_title1{
        margin-top: 0px;
    }

    .content_logo{
        width: 17px;
        margin-right: 10px;
    }

    .content_detail{
        margin-top: 50px;
    }

    .special_offer{
        margin-top: 100px;
        display: block;
        max-width: 2560px;
        height: 310px;
        width: 100%;
        background-image: url("../image/special_offer/special_offer.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .special_offer p{
        font-family: Verdana, Geneva, sans-serif;
        color: #fff;
    }

    .special_offer_title{
        font-size: 20px;
        padding-top: 60px;
    }

    .special_offer_text{
        font-size: 12px;
        padding-top: 35px;
        margin-left: 115px;
        margin-right: 115px;
        padding-bottom: 25px;
    }

    .special_offer_email{
        margin-top: 20px;
    }

    #email_text{
        border: none;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        width: 200px;
        height: 25px;
        padding-left: 15px;
        font-size: 12px;
        color: #000;
    }

    #email_icon{
        height: 25px;
        margin-left: -10px;
        margin-top: -2px;
        padding-top: 8px;
        padding-left: 8px;
        padding-bottom: 4px;
        padding-right: 10px;
        background: #fff;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }


    #copy_rights{
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        margin-left: 100px;
        margin-top: 35px;
        margin-bottom: 25px;
    }

    .footer_icon{
        margin-top: 35px;
        margin-right: 25px;
    }

    #for_left{
        margin-left: 250px;
    }

}
