#copy_rights{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-left: 80px;
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 12px;
}

.footer_icon{
    margin-top: 35px;
    margin-right: 10px;
    height: 16px;
    cursor: pointer;
}

#for_left{
    margin-left: 190px;
}

@media screen and (min-width: 1300px){
    #copy_rights{
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        margin-left: 100px;
        margin-top: 35px;
        margin-bottom: 25px;
    }

    .footer_icon{
        margin-top: 35px;
        margin-right: 25px;
    }

    #for_left{
        margin-left: 250px;
    }
}
