.footer .row ul{
    list-style-type: none;
}
.footer .row ul li{
    display: inline;
    margin-right: 15px;
}
.row p{
    margin-left: 75px;
    margin-top: 30px;
}
@media (min-width: 1300px){
    .footer{
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .row ul{
        margin-left: 80%;
        margin-top: -30px;
    }
}

@media (max-width: 1000px){
    .footer{
        margin-top: -20px;
        margin-bottom: 15px;
    }
    .row p{
        font-size: 14px;
    }
    .row ul{
        margin-left: 78%;
        margin-top: -30px;
    }
    .row ul li img{
        height: 15px;
    }
}

@media (max-width: 900px){
    .footer{
        margin-bottom: 15px;
    }
    .row p{
        font-size: 12px;
    }
}

@media (max-width: 700px){
    .footer{
        margin-bottom: 15px;
    }
    .row p{
        margin-left: 30px;
        font-size: 12px;
    }
    .row ul{
        margin-left: 75%;
        margin-top: -30px;
    }
}

@media (max-width: 400px){
    .footer{
        margin-bottom: 25px;
        padding-top: -500 !important;
    }
    .row p{
        position: absolute;
        margin-top: 50px;
    }
    .row ul{
        position: absolute;
        margin-top: 20px;
        margin-left: 30%;
        padding-bottom: 50px;
    }
}