#copy_rights{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-left: 100px;
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 12px;
}

.footer_icon{
    margin-top: 35px;
    margin-right: 25px;
}

#for_left{
    margin-left: 130px;
}
